body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #190a55;
    color: white;
    padding: 1rem 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    height: 3rem;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

nav a:hover {
    background-color: #190a55;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
}

.producto {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.producto img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background-color: #190a55;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

fgpWa svg { 
    width: 5rem;
    position: fixed;
    bottom:8rem;
    right: 0rem;
    filter: drop-shadow( .8rem .8rem .8rem #0008);
    }
fgpWa svg :hover{
    width:10rem;
}